@charset "utf-8";
$base-color: transparent;
body{  background: $base-color;}
 

.role{
	display: none; 
}

#header{
	position: relative;
	background: #060933;
	width: 100%;
	display: block;
	clear: both;
    height: 30px;
    text-align: center;
}

#logo{
	float: left;
}
#title{
	float: left;
	color: white;
}
.searchbox{ 
}
#search{
	border-radius: 10px;
	padding: 0px 8px;
}
#username{
	position: absolute;
     right: 80px;
    color: white;
}
.logout{
	position: absolute;
	right: 5px;
}
